PORT=5005
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/review-service
JWT_SECRET=your_jwt_secret_key_here
SERVICE_KEY=your_service_to_service_secret_key

EVENT_SERVICE_URL=http://localhost:5002
NOTIFICATION_SERVICE_URL=http://localhost:5006
