PORT=5001
MONGO_URI=mongodb://localhost:27017/user_db
JWT_SECRET=ctse-super-secret-jwt-key-2026
JWT_EXPIRE=24h
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:3000
SERVICE_API_KEY=ctse-internal-service-key-2026
